<div>
  <h1 align="center"> Witaj w CSV_Maker! <h1>
  <div style="display:flex">
    <div style="width:50%;">
      <%= link_to "https://trello.com", target: :blank do %>
        <%= image_tag("Trello.png", style:"width: 100%") %>
      <% end %>
   </div>
   <div style="width:50%">
     <%= link_to "https://pl.wikipedia.org/wiki/CSV_(format_pliku)", target: :blank do %>
     <%= image_tag("csv.png", style:"width: 100%") %>
     <% end %>
   </div>
  </div>
</div>
